/* @import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

.some-class {
    background-color: blue;
}

.bg-orange {
    background-color: orange;
}


.card {
    @apply rounded shadow-lg ;
}

/*
.card-image {
    @apply w-full ;
}*/
.card-image .horizontal {
    @apply w-6/12;
}

.card-content {
    @apply px-6 py-4;
}

.card-content .header {
    @apply font-bold text-xl;
}
.card-content .body {
    @apply text-base text-right;
}

.navigation-link {
    @apply px-4 align-middle ;
}
.navigation-link:hover {
    @apply font-bold;
}


.cl{
    border: 1px solid black;
}

.card-text .description {
    text-overflow: ellipsis; 
}