/* @import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

.some-class {
    background-color: blue;
}

.bg-orange {
    background-color: orange;
}


.card {
    @apply rounded shadow-lg ;
}


.card-image {
    @apply w-full ;
}
.card-image .horizontal {
    @apply w-6/12;
}

.card-content {
    @apply px-6 py-4;
}

.card-content .header {
    @apply font-bold text-xl;
}
.card-content .body {
    @apply text-base text-right;
}

.navigation-link {
    @apply px-4 align-middle  ;
}
.navigation-link:hover {
    @apply font-bold;
}


.cl{
    border: 1px solid black;
}

.card-text .description {
    text-overflow: ellipsis; 
}


.bg-blue {
 background-color: #03668c !important;
}
.bg-yellow {
    background-color: #d9a404 !important;
}
.bg-orange {
    background-color : #f25c05 !important;
}
.bg-red {
   background-color:  #8C2703 !important;

}

.color-white {
    color:white!important;

}

.color-black {
    color: #212529!important;
}

.btn-primary {
   background-color: #03668c !important;
}

.btn-alert { 
    background-color:  #8C2703 !important;
    color: white!important;
}

.dropdown:hover > .dropdown-menu {
    display: block!important;
  }